/**
 * \file styles.css
 * \brief application styles
 */

.hidden {
    display: none;
}

.error {
    font-size: 2em;
    color:red;
}

.info {
    font-size: 2em;
    color:green;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
	font-size: 100.01%;
}

ul#statusMenu li {
    display: inline;
    padding: 0px;
}

ul#statusMenu li {
    background-color: black;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}

ul#statusMenu li:hover {
    background-color: orange;
}

li > span:first-child {
    display: none;
}
li > span {
    margin: 2px;
    font-size: 80%;
}
